body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D9D7D7;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat&display=swap');

h1, h2, h3, h4, h5, h6  {
  font-family: 'Playfair Display', serif;
  color: #0D0708;
}

.navbar {
  background-color: #73061A;;
  color: #D9D7D7;
}

.navbar-nav .nav-link {
  color: #D9D7D7;
}

.navbar-nav .nav-link:hover {
  color: #8C0F31;
}

.navbar-nav .nav-link.active {
  color: #0D0708;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #D9D7D7;;
  color: #0D0708;
}

.dropdown-item:hover {
  background-color: #8C0F31;
  color: #D9D7D7;
}

.btn-custom {
  background-color: #73061A;;
  color: #D9D7D7;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.dropdown-item:visited {
  background-color: #D9D7D7;
  color: #0D0708;
}

.custom-dropdown {
  width: auto;
  font-family: 'Montserrat', sans-serif;
  background-color: #D9D7D7;
  color: #0D0708;
  border: none;
}

.custom-dropdown option {
  padding: 5px 10px;
}

.custom-dropdown option:hover {
  background-color: #8C0F31;
  color: #D9D7D7;
}

.custom-dropdown option:active {
  background-color: #73061A;
  color: #D9D7D7;
}
